
body {
    background-image: url('https://pbs.twimg.com/media/BdhkUBLCUAA7eKk.png:medium')

}

/* #img1 {
  align-items: center;
    height: 200px;
    width: 250px;
}

#img2 {
  align-items: center;
    height: 200px;
    width: 200px;
} */

li {
  position: fixed;
  left: 0;
  bottom: 0;
  width:100%;
  background-color: white;
  font-size: 20;
  font-weight: bolder;
  color: blue;
  text-align: center;

}


h1 {
  width: 600px;
    font-family: 'Gugi';
    color: red;
font-size: 64;
    margin: 10px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#controls {
  text-align: center;
  width: 250;
    margin: 25px;
    padding: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label {
color: white;
  text-align: center;
  width:40;
  background-color: black;
  font-size: 20;
    display: inline-block;
    width: 100px;
}

input {
    background-color: black;
color: white;
    width: 200px;
    font-size: medium
    ;
    border: 1px solid red;
}

#inference-button {
  width: 400;
    background-color: black;
    margin: 10px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#inference {
width: 200;
    margin: 10px;
    padding: 10px;
    font-size: medium;

}

#comparison {
  color: white;
  font-size: 22;
  font-weight: lighter;

}

td, tr {
  border: 1px black solid;
}

tr {

  text-align: right;
}

td {
  text-align: right;
}
