
body {
    background-color: #e41b1b;
}

img {
    height: 300px;
    width: 450px;
}


li {
  font-size: 20;
  font-family:sans-serif;
  font-weight: bolder;
  color: #0707f3;
}

h1 {
    font-family: 'Gugi';
    color: red;
    background-color: #1625d8;
    border: 3px dashed green;
    margin: 25px;
    padding: 25px;
}

#controls {
    background-color: #1625d8;
    border: 3px dashed green;
    margin: 25px;
    padding: 25px;
}

label {
    display: inline-block;
    width: 100px;
}

input {
    background-color: pink;
    border: 1px solid red;
    width: 200px;
    font-size: medium
    ;
}

#inference-button {
    background-color: #1625d8;
    border: 3px dashed green;
    margin: 10px;
    padding: 10px;
}

#inference {

    margin: 10px;
    padding: 10px;
    font-size: medium;

}
