
body{
background-image: url('https://cdn.hipwallpaper.com/i/83/53/sYWXUb.jpg')
}

#links{
font-size: 20;
color: white;
}

a:visited{color:white;
}

#HomeHeader {
  position: absolute;
  left: 33%;
  width: 700px;
  text-align: center;
font-size: 50;
color: white;
padding: 25px;
}


#HomeHeader2 {
font-size: 20;
background-color: #7acc8c;
border: 3px dashed red;
margin: 25px;
padding: 25px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* #span {
background-color: pink;
border: 3px dashed yellow;
margin: 25px;
padding: 25px;
} */
