<html>
<!-- What the page is called in the tab bar  -->
<!-- We will add out stylsheet here later -->
<head>
    <link rel="stylesheet" href="/static/about.css" />
    <title> Home Page</title>
</head>
<!-- Put some text on the page -->
<body>
  <h1 id='HomeHeader' >Predicting Clutch NBA Players</h1>

  <span>
    This website is the "fun" side of the project I did while at Galvanize. Here you can compare clutch stats of any two players who played between 2014-2018. Click on the 'Compare' tab and then put in the names of the players and click 'get stats'.
  </span>

  <p>

    The goal of this project was to predict which player will be clucth in upcoming season.
    For this project, I got the play by play data for all the NBA games from last 14 years and looked at how all the players perform in the clutch situation. I described a game to be clutch if the score is within 6 points with only two minutes to play in regulation.
  </p>
  <p>
First, I got the data for only the last two minutes of the fourth quarter for all the games that were with in 6 points. After doing EDA and feature engineering, I gathered all the stats for each player in the clutch time. To see if there is a difference between the regular game and the clutch time I compared the stats with the regular game stats and found out players tend to be less efficient in the clutch time. Then I assigned different scores to different types of shots depending on level of difficulty. Then by looking at those scores, each player was given a clutch score which shows how good there are in clutch time and the score was used to determine if they are clutch or not.
  </p>
  <p>
For each year there were only 15-17% players that were clutch. From there I tried to predict which players will be clutch next year by looking at how they had performed in clutch situations in the previous years. I used Extreme Gradient Boosting (XGBoost) classifier and my final F1 score came out 14.13% higher than the baseline F1 score.

  </p>
</body>

</footer>

<ul>
  <li >
    <a href='/'> Home </a>

    <a href='/compare'> Compare </a>

    <a href='http://NBA.com'> NBA </a>
  </li>
</ul>

<footer/>

</html>
