<html>
<!-- What the page is called in the tab bar  -->
<!-- We will add out stylsheet here later -->
<head>
    <link rel="stylesheet" href="/static/about.css" />
    <title> Home Page</title>
</head>
<!-- Put some text on the page -->
<body>
  <h1 id='HomeHeader' >Predicting Clutch NBA Players</h1>
  <h2 id='HomeHeader' >Under Construction</h2>
  <p>
    This website is part of the Data Science project I did while at Galvanize. The goal of this project was to predict which player will be clucth in upcoming season by looking at their stats from previous years when the game was with in 6 points with only 2 minutes left in regulation.
  </p>
  <span>
    Here is a span
  </span>
</body>
</html>
