<head>
  <title> Home Page </title>
  <!--this is a stylesheet  -->
  <link rel="stylesheet" href="static/home.css" />
</head>

<ul>
  <li>
    <a href="/"> Home </a>
  </li>
  <li>
    <a href="/compare"> Compare Players </a>
  </li>
  <li>
    <a href="http://NBA.com"> NBA home page </a>
  </li>
</ul>


<body>
  <h1 id='HomeHeader'> Let's see who is CLUTCH!! </h1>
  <p id='HomeHeader2'> Compare players to see who been good in last 2 minutes of a close game. </p>

  <span id='span'> Can look at a single player stats or compare two players. </span>

</body>
